<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title|escape }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <style>
         html {
             font-family: sans;
             background-color: #f4f4f9;
             color: #333;
         }
         body {
             margin: 0;
             padding: 0;
             display: flex;
             flex-direction: column;
             align-items: center;
         }
         h1 {
             color: #4CAF50;
             margin-top: 20px;
         }
         p {
             font-size: 1.2em;
             color: #555;
         }
         .level {
             width: 90%;
             max-width: 1000px;
             padding: 1em;
             margin: 1em 0;
             border-radius: 8px;
             box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
             position: relative;
         }
         .level h2 {
             margin: 0 0 0.5em 0;
             font-size: 1.5em;
         }
         .level ul {
             padding: 0;
             list-style: none;
         }
         .level li {
             padding: 0.5em 1em;
             margin: 0.5em 0;
             background: #fff;
             border-radius: 4px;
             box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
         }
         .critical {
             background: #ffebee;
             border-left: 6px solid #f44336;
         }
         .critical h2:before {
             content: '\1F4A5';
             margin-right: 0.5em;
         }
         .major {
             background: #fff3e0;
             border-left: 6px solid #ff9800;
         }
         .major h2:before {
             content: '\2757';
             margin-right: 0.5em;
         }
         .minor {
             background: #fffde7;
             border-left: 6px solid #ffeb3b;
         }
         .minor h2:before {
             content: '\2757';
             margin-right: 0.5em;
         }
         .potential {
             background: #e0f7fa;
             border-left: 6px solid #00acc1;
         }
         .potential h2:before {
             content: '\26A0';
             margin-right: 0.5em;
         }
         .success p {
             color: #4CAF50;
             font-size: 1.5em;
             text-align: center;
         }
         summary {
             margin-bottom: 0.5em;
             cursor: pointer;
         }
         summary em {
             color: #333;
         }
         summary b {
             color: #000;
         }
         details div {
             margin-top: 0.5em;
             padding-left: 1em;
             border-left: 2px solid #ddd;
         }
         .hint {
             position: absolute;
             top: 1em;
             right: 1em;
             pointer-events: none;
             color: gray;
         }
        </style>
    </head>
    <body>

      <h1>{{ title|escape }}</h1>

      <p>Results from <em>checkup</em> run on {{ date }}</p>

      {% for severity in ["critical", "major", "potential"] %}
          <div class="level {{ severity }}">
              <h2>{{ severity.capitalize() }} issues:</h2>
              {% if not tests[severity] %}
                  <div class="success">
                      <p>None found 👍</p>
                  </div>
              {% else %}
                  <span class="hint">Click items to show more details</span>
                  <ul class="failure">
                      {% for test in tests[severity] %}
                          <li>
                              <details>
                                  <summary>
                                      <span style="font-size: larger;">
                                          Failed:
                                          <em>{{ test.description }}</em>
                                      </span>
                                      <br>{{ test.message | replace("\n", "<br>") }}
                                      <br>{{ test.assertion }}
                                  </summary>
                                  <div>
                                      {{ test.long_descr }}
                                  </div>
                                  <div>

                                  </div>
                                  <div>
                                      Test <b>{{ test.name }}</b> ran in {{ "%.3f" % test.duration }} s.
                                  </div>
                              </details>
                          </li>
                      {% endfor %}
                  </ul>
              {% endif %}
          </div>
      {% endfor %}
    </body>
</html>
